* {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}

body{
    background: #f9f9f7 url("../img//fondopatrio.jpg");
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

#outside{
    position: relative;
    width: 85%;
    height: 100%;
    margin: 0px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;
    border-left: solid 3px rgb(213, 25, 25);
    border-right: solid 3px rgb(213, 25, 25);
    overflow: overlay;    
}

header{
    width: 100%;
    display: inline-flex;
    height: 170px;
    line-height: 18px;
    background-color: white
}

#logo{
    margin-top: 10px;
    width: 50%;
}

#logo img{
    margin-left: 70px
}

#logo h3{
    font-size: 20px;
    letter-spacing: 0px;
    margin-left: 60px;
    margin-bottom: 20px;
}

main{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    line-height: 20px;
    text-align: justify;
}

h2{
    border-bottom: solid 2px rgb(248, 113, 113);
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 60%;
}

#main{
    padding-left: 20px;
    padding-right: 30px;
    border-right: solid 1px rgb(248, 113, 113);
}

#main div{
    border-top: solid 1px rgb(249, 191, 191);
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
}

#video{
    margin-left: 20px;
    margin-right: 20px;    
    border-top: solid 2px rgb(248, 113, 113);
}

iframe{
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 320px;
}

ul{    
    list-style-position: outside;
}

main li{
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
}

aside{
    padding-left: 25px;
    padding-right: 20px;
}

#Info{
    margin-top: 20px;
}

#Info li{
    border-top: solid 1px rgb(249, 191, 191);
}

#Info a{
    text-decoration: none;
    color: rgb(248, 37, 37);
}

#Info a:hover{
    color: rgb(2, 2, 134);
    background-color: rgb(248, 37, 37);
}

#Info div{
    margin-top: 20px;
    margin-right: 20px;
}

em{
    font-weight: bold;
    font-style: normal;
}

footer{      
    width: 100%;
    height: 100px;
    border-top: double;
    padding-top: 30px;
    color: white;
    background-color: rgb(136, 2, 2);
    text-align: center;
}

