nav{
    margin-top: 10px;
    display: flex;
    background: rgb(1, 1, 59);
    text-decoration: none;
    width: 100%;
    height: 60px;
}

nav a{
    text-align: center;
    margin-top: 15px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    height: 30px;
}

nav a:hover{
    color: red;
}